<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda</title>
  </head>
  <body>
    <header>
      <div class="container space-b-class">
        <span class="logo"><a href="/">Agenda</a></span>
        <%- include("nav.ejs") %>
      </div>
    </header>
    
 
