<%- include("includes/header.ejs") %>
<main class="content">
  <div class="column error-404">
    <h1>404</h1>
    <h2>OOPS, Página que você procura não existe!</h2>
  </div>
</main>
<%- include("includes/footer.ejs") %>
