<%- include("includes/header.ejs") %>
<div class="msg-display">
  <%- include("includes/messages.ejs") %>
</div>
<main class="content">
  <div class="container flex-center">
    <div class="column">
      <h2 class="title-main center">Olá, <%= user.email %></h2>
    </div>
  </div>
</main>
<%- include("includes/footer.ejs") %>
